.resultsContainer {
  width: 291px;
  height: 291px;
  margin: 15px 105px 0 15px;
  padding: 15px 15px 136.5px;
  border-radius: 2px;
  box-shadow: 0 0.5px 1px 0 var(--warm-grey-75);
  border: solid 0.5px var(--green-teal);
  background-color: #fff;

  /* width: 426px;
  height: 280px;
  margin: 15px 0 0 15px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 0.5px 1px 0 rgba(0,0,0,0.1);
  border: solid 0.5px #383838;
  background-color: #fff; */
}

.title {
  width: 35.5px;
  height: 11px;
  margin: 0 14px 5px 0;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;

  /* font-family: Roboto;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.4;
  color: #000;
  margin-bottom: 10px; */
}

.noResults {
  width: 162px;
  height: 17.5px;
  margin: 105.5px 49.5px 0 14px;

  /* text-align: center;
  margin-top: 100px; */
}

.noResultsText {
  font-family: Montserrat;
  font-size: 7px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--pinkish-grey);

  /* font-family: Roboto;
  font-size: 10px;
  line-height: 1.3;
  color: #a0a0a0; */
}
