.resultsContainer {
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 0.1rem 0.2rem 0 var(--warm-grey-75);
  border-radius: 0.25rem;
  border: 0.01rem solid var(--green-teal);
  background-color: #fff;
  overflow-y: auto;
}

.title {
  margin-bottom: 0.5rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--pinkish-grey);
}

.noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 15rem;
  gap: 1rem;
}

.noResultsText {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: var(--pinkish-grey);
  text-align: center;
}
