.header {
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0.05rem 0 0 var(--green-teal);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--green-teal);
}

.titleLink {
  text-decoration: none;
}

.chartButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--green-teal);
  width: 50px;
  text-align: right;
}

.leftPlaceholder {
  width: 50px;
}
