.detailsContainer {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid var(--green-teal);
  width: 100%;
  max-width: 1200px;
  overflow-y: auto;
}

.backButton {
  background-color: var(--green-teal);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.backButton:hover {
  opacity: 0.9;
}

.detailsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2/3 for main details, 1/3 for characters */
  gap: 2rem;
}

@media (max-width: 768px) {
  .detailsGrid {
    grid-template-columns: 1fr;
  }
}

.detailItem {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.detailLabel {
  font-weight: bold;
  margin-right: 0.5rem;
}

.mainDetails {
  /* styles for the left column */
}

.charactersList {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 0.25rem;
}

.charactersList ul {
  list-style-type: none;
  padding: 0;
}

.charactersList li {
  margin-bottom: 0.5rem;
}
