@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h3 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #000;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--pinkish-grey);
}

p {
  margin-bottom: 1rem;
  font-family: Montserrat;
  font-size: 1.1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}
