:root {
  --green-teal: #0ab463;
  --pinkish-grey: #c4c4c4;
}

.container {
  min-height: 100vh;
  background-color: #ededed;
}

.main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
