:root {
  --green-teal: #0ab463;
  --pinkish-grey: #c4c4c4;
}

.container {
  height: 100vh;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-grow: 1;
  overflow-y: auto;
}
